/* CSS Document */

h1{ font-size:16px;}
#me{ background-image:url(me.jpg); background-repeat:no-repeat; width:210px; height:210px; float:left;
-webkit-animation:logo 1s .2s ease both;
-moz-animation:logo 1s .2s ease both;}
@-webkit-keyframes logo{
0%{opacity:0;
-webkit-transform:translateY(-2000px)}
60%{opacity:1;
-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes logo{
0%{opacity:0;
-moz-transform:translateY(-2000px)}
60%{opacity:1;
-moz-transform:translateY(30px)}
80%{-moz-transform:translateY(-10px)}
100%{-moz-transform:translateY(0)}
}

#title{ float:left; width:300px; margin-top:100px; color:#CC0000; font-weight:900;
-webkit-animation:title 2s .2s ease both;
-moz-animation:title 2s .2s ease both;}
@-webkit-keyframes title{
0%{opacity:0;
-webkit-transform:translateX(2000px)}
60%{opacity:1;
-webkit-transform:translateX(-30px)}
80%{-webkit-transform:translateX(10px)}
100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes title{
0%{opacity:0;
-moz-transform:translateX(2000px)}
60%{opacity:1;
-moz-transform:translateX(-30px)}
80%{-moz-transform:translateX(10px)}
100%{-moz-transform:translateX(0)}}
#title a{ color:#999999; margin-left:20px;}
#main{ width:600px;margin:10px auto;}
h1{ clear:both;}
ul li{ list-style:none; font-size:6px; color:#999999;}
ul li span{ color:#6633CC; font-size:10px;}
ul li a{ color:#000; font-size:16px;}

.posts,h1,p{-webkit-animation:posts 3s .6s ease both;
-moz-animation:posts 3s .6s ease both;}
@-webkit-keyframes posts{
0%{opacity:0;
-webkit-transform:translateX(-2000px)}
60%{opacity:1;
-webkit-transform:translateX(30px)}
80%{-webkit-transform:translateX(-10px)}
100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes posts{
0%{opacity:0;
-moz-transform:translateX(-2000px)}
60%{opacity:1;
-moz-transform:translateX(30px)}
80%{-moz-transform:translateX(-10px)}
100%{-moz-transform:translateX(0)}}
