@charset "utf-8";

h1{
font-size: 24px;
float: left;
margin-top: 100px;
margin-left: 200px; color:#CC0000; font-weight:900;
-webkit-animation:title 2s .2s ease both;
-moz-animation:title 2s .2s ease both;}
@-webkit-keyframes title{
0%{opacity:0;
-webkit-transform:translateX(2000px)}
60%{opacity:1;
-webkit-transform:translateX(-30px)}
80%{-webkit-transform:translateX(10px)}
100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes title{
0%{opacity:0;
-moz-transform:translateX(2000px)}
60%{opacity:1;
-moz-transform:translateX(-30px)}
80%{-moz-transform:translateX(10px)}
100%{-moz-transform:translateX(0)}}

#content{ width:600px;margin:90px auto;}
h1{ clear:both;}
p{color:#999;}
#content,h1,p,pre{-webkit-animation:posts 3s .6s ease both;
-moz-animation:posts 3s .6s ease both;}
@-webkit-keyframes posts{
0%{opacity:0;
-webkit-transform:translateX(-2000px)}
60%{opacity:1;
-webkit-transform:translateX(30px)}
80%{-webkit-transform:translateX(-10px)}
100%{-webkit-transform:translateX(0)}
}
@-moz-keyframes posts{
0%{opacity:0;
-moz-transform:translateX(-2000px)}
60%{opacity:1;
-moz-transform:translateX(30px)}
80%{-moz-transform:translateX(-10px)}
100%{-moz-transform:translateX(0)}}
#next{
position: fixed;
top: 300px;
left: 250px;}
#canvas {display: block;}